<?php

return [
  // Logging for development
  'debug' => false,

  // Optional proxy (auth is also optional)
  'proxy' => [
    'protocol' => 'http',
    'address' => '127.0.0.1:8080',
    'auth' => 'username:password'
  ],

  // Only required for some routes
  'session' => [
    'sessionid' => 'instagramsessionid',
    'ds_user_id' => 'instagramuserid'
  ],

  // Time before curl request times out
  'timeout' => 20
];
